[submodule "elib/elib-bootstrap"]
	path = elib/elib-bootstrap
	url = https://github.com/webdsl/elib-bootstrap.git
[submodule "elib/elib-utils"]
	path = elib/elib-utils
	url = https://github.com/webdsl/elib-utils.git
