
body {
    background-color: #EBF4FA;
    font-family: Arial;
    margin-left: 15px;
}

.facet-area {
    clear: both;
    font-style: italic;
    padding-top: 8px;
}
.top-container {
    background-color: #BBD9EE;
    border-radius: 15px 15px 0 0;
    margin-right: 10px;
    margin-top: 3px;
    padding: 2px 8px;
}
.top-container-green {
    background-color: LightGreen;
    border-radius: 15px 15px 0 0;
    margin-right: 10px;
    margin-top: 3px;
    padding: 2px 8px;
}
.main-container {
    background-color: white;
    border: 1px solid #BBD9EE;
    border-radius: 0 0 15px 15px;
    clear: both;
    margin-right: 10px;
    padding: 5px 5px 5px 7px;
}
.top-container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.langCons-container{
    border: 1px solid LightSlateGrey;
    border-radius: 0 0 5px 5px;
    font-family: monospace,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 4px 4px 0;
    outline: medium none;
    overflow: auto;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
.excluded-facet {
    background-color: LightSteelBlue;
    border-radius: 5px 5px 5px 5px;
    color: #8F8F8F;
    float: left;
    font-size: 12px;
    margin: 1px 3px;
    padding: 0 0 0 3px;
}
.excluded-facet-langCons{
    background-color: #EBF4FA;
    border-radius: 5px 5px 5px 5px;
    color: black;
    float: left;
    font-size: 12px;
    margin: 1px 3px;
    padding: 0 3px;
}
.included-facet {
    background-color: #EBF4FA;
    border-radius: 5px 5px 5px 5px;
    color: black;
    float: left;
    font-size: 12px;
    margin: 1px 3px;
    padding: 0 0 0 3px;
}
.included-facet a:link, .included-facet a:visited {
    background-color: #EBF4FA;
    color: black;
    text-decoration: none;
}
.excluded-facet a:link, .excluded-facet a:visited, .excluded-facet-langCons a:link, .excluded-facet-langCons a:visited {
    color: black;
    text-decoration: none;
}
.exclude-facet-sym {
    background-color: #206BA4;
    border-radius: 0 5px 5px 0;
    color: white;
    float: right;
    font-size: 12px;
    margin: 0 0 0 1px;
    padding: 0 3px;
}
.include-facet-sym {
    background-color: LightSlateGray;
    border-radius: 0 5px 5px 0;
    color: white;
    float: right;
    font-size: 12px;
    margin: 0 0 0 1px;
    padding: 0 3px;
    visibility: hidden;
}
.included-facet.minus-image a:link, .included-facet.minus-image a:visited {
    color: red;
}
.search-result-highlight {
    background-color: White;
    border: 1px solid #BBD9EE;
    border-radius: 0 0 5px 5px;
    font-family: monospace,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 4px 15px 0;
    outline: medium none;
    overflow: auto;
    padding: 0;
    position: relative;
    z-index: 1;
    min-height: 18px;
}
.search-result-link a:link, .search-result-link a:visited {
    color: #206BA4;
    text-decoration: none;
    font-family: monospace;
}
.search-result-link {
    background-color: #BBD9EE;
    border: 1px solid #BBD9EE;
    border-radius: 5px 5px 0 0;
    font-size: 13px;
    margin: 4px 4px 0 0;
    padding: 4px;
}
input.button {
    background-color: #BBD9EE;
    border-radius: 5px 5px 5px 5px;
    color: Black;
    font-family: sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0 0 0 2px;
}
.login {
    bottom: 0;
    clear: both;
    display: block;
    font-size: 10px;
    position: absolute;
    right: 0;
}
.home-text {
    color: Black;
    font-family: Helvetica;
}
.search-result-location {
    color: #206BA4;
    float: right;
    font-size: 13px;
    margin: 0 4px 0 0;
}
.linenumbera {
    -moz-user-select: none;
    background-color: WhiteSmoke;
    color: #206BA4;
    float: left;
    margin: 0 9px 0 0;
    text-align: center;
    width: 34px;
}
.nolinenumbera {
    background: -moz-linear-gradient(center top , #EBF4FA, WhiteSmoke) repeat scroll 0 0 #EBF4FA;
    border-top: 1px solid #BBD9EE;
    border-bottom: 1px solid #BBD9EE;
    color: Black;
    float: left;
    left: 0;
    line-height: 1.25em;
    margin: 0 9px 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.linenumberb {
    -moz-user-select: none;
    background-color: #EBF4FA;
    color: #206BA4;
    float: left;
    line-height: 1.25em;
    margin: 0 9px 0 0;
    text-align: center;
    width: 34px;
}
.nolinenumberb {
    background: -moz-linear-gradient(center top , WhiteSmoke, #EBF4FA) repeat scroll 0 0 WhiteSmoke;
    border-top: 1px solid #BBD9EE;
    border-bottom: 1px solid #BBD9EE;
    color: Black;
    float: left;
    left: 0;
    line-height: 1.25em;
    margin: 0 9px 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.linenumberarea {
    -moz-user-select: none;
    line-height: 1.25em;
}
.code-area {
    display: block;
    line-height: 1.25em;
    position: absolute;
    top: 0;
}
.code-line {
    display: block;
}
.hlcontent {
    background-color: #CCFF66;
}
.skipped-files-link a:link, .search-result-link a:visited {
    text-decoration: none;
}
a:link, a:visited {
    color: #206BA4;
    font-family: Helvetica;
    font-style: normal;
    text-decoration: none;
}
pre {
    margin: 0;
}
.show-repo {
    background: none repeat scroll 0 0 AliceBlue;
    border: 1px solid LightSlateGrey;
    border-radius: 0 0 5px 5px;
    font-family: monospace,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 4px 4px 0;
    outline: medium none;
    overflow: auto;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
.main-container input.button {
    background-color: WhiteSmoke;
    border-radius: 0 0 0 0;
    color: black;
    float: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 1px;
    padding: 0;
}
.new-repo {
    background: none repeat scroll 0 0 HoneyDew;
    border: 1px solid LightSteelBlue;
    border-radius: 0 0 5px 5px;
    font-family: monospace,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 4px 4px 0;
    outline: medium none;
    overflow: auto;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
#addRepoPH input.button {
    background-color: HoneyDew;
    color: Black;
    float: none;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 0 0 4px 3px;
    padding: 0;
}
textarea.inputTextarea {
    height: 12em;
    width: 70em;
}
html body#manage table {
    background-color: AliceBlue;
    border-style: solid;
    border-width: thin;
    text-align: left;
}
html body#manage table tbody td {
    border-top-style: dotted;
    border-top-width: thin;
}
.hover {
    background-color: silver;
}
html body#manage div.main-container div.top-container div.float-right {
    float: right;
}
html body#manage div.main-container div.top-container {
    background-color: palegoldenrod;
}
html body#manage div.main-container div.main-container {
    background-color: lightgoldenrodyellow;
}

