body {
    background-color: #EBF4FA;
    font-family: Arial;
    margin-left: 15px;
}

.facet-area .btn-group {
    margin: 0 5px 5px 0;
}

h4, h5{
    border-bottom: 1px solid #999999;
}
.search-result-highlight {
    background-color: White;
    border: 1px solid #E3E3E3;
    border-radius: 0 0 5px 5px;
    font-family: monospace,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 4px 15px 0;
    outline: medium none;
    overflow: auto;
    padding: 0;
    position: relative;
    z-index: 1;
    min-height: 18px;
}

.linenumbera {
    -moz-user-select: none;
    background-color: #F5F5F5;
    color: #206BA4;
    float: left;
    margin: 0 9px 0 0;
    text-align: center;
    width: 34px;
}
.nolinenumbera {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
    color: Black;
    float: left;
    line-height: 1.25em;
    position: absolute;
    text-align: center;
    width: 100%;
}
.linenumberb {
    -moz-user-select: none;
    background-color: #F5F5F5;
    color: #206BA4;
    float: left;
    line-height: 1.25em;
    margin: 0 9px 0 0;
    text-align: center;
    width: 34px;
}
.nolinenumberb {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
    color: Black;
    float: left;
    line-height: 1.25em;
    position: absolute;
    text-align: center;
    width: 100%;
}
.linenumberarea > a {
    color: #333333;
}

.linenumberarea {
    -moz-user-select: none;
    line-height: 1.25em;
}
.code-area {
    display: block;
    line-height: 1.25em;
    position: absolute;
    top: 0;
}
.code-line {
    display: block;
}
.hlcontent {
    background-color: #BADBFF;
    border-radius: 3px 3px 3px 3px;
    padding: 0 3px;
    vertical-align: baseline;
    white-space: nowrap;
    margin: -2px;
}
.skipped-files-link a:link, .search-result-link a:visited {
    text-decoration: none;
}
pre {
    margin: 0;
}
textarea.inputTextarea {
    height: 12em;
    width: 70em;
}

.inlineForm .form-actions {
    margin-bottom: 0px;
    margin-top: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.repoFolderLocation {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
}
#resultArea .pagination {
    margin: 0 0 13px;
}
