body {
    margin-left: 15px;
}
#resultAndfacetArea {
    left: 0;
    padding-left: 250px;
    padding-top: 10px;
    position: absolute;
    right: 0;
}
.facetarea {
}
#facet-selection {
    background-color: LightSteelBlue;
    border-radius: 15px 15px 0 0;
    margin-right: 10px;
    padding: 10px 10px 15px;
}
#resultArea {
    background-color: white;
    border: 1px solid LightSteelBlue;
    border-radius: 0 0 15px 15px;
    clear: both;
    margin-right: 10px;
    padding: 5px 5px 0 7px;
}
#facet-selection:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.excludedFacet {
    background-color: LightSteelBlue;
    border-radius: 5px 5px 5px 5px;
    color: #8F8F8F;
    float: left;
    font-size: 12px;
    margin: 4px 5px;
    padding: 0 0 0 3px;
}
.includedFacet {
    background-color: White;
    border-radius: 5px 5px 5px 5px;
    color: black;
    float: left;
    font-size: 12px;
    margin: 4px 5px;
    padding: 0 0 0 3px;
}
.includedFacet a:link, .includedFacet a:visited {
    color: black;
    text-decoration: none;
}
.excludedFacet a:link, .excludedFacet a:visited {
    color: black;
    text-decoration: none;
}
.excludefacetsym {
    background-color: LightSlateGray;
    border-radius: 0 5px 5px 0;
    color: white;
    float: right;
    font-size: 12px;
    margin: 0 0 0 1px;
    padding: 0 3px;
}
.includefacetsym {
    background-color: LightSlateGray;
    border-radius: 0 5px 5px 0;
    color: white;
    float: right;
    font-size: 12px;
    margin: 0 0 0 1px;
    padding: 0 3px;
    visibility: hidden;
}
.includedFacet.minus-image a:link, .includedFacet.minus-image a:visited {
    color: red;
}
.searchresulthighlight {
    border: 1px solid LightSlateGrey;
    border-radius: 0 0 5px 5px;
    font-family: monospace,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 4px 4px 0;
    padding: 5px 0px 16px 0px;
}
.searchresultlink a:link, .searchresultlink a:visited {
    color: white;
    text-decoration: none;
}
.searchresultlink {
    background-color: LightSlateGrey;
    border: 1px solid LightSlateGrey;
    border-radius: 5px 5px 0 0;
    font-size: 13px;
    margin: 4px 4px 0 0;
    padding: 4px;
}
input.button {
    background-color: LightSlateGray;
    color: white;
    font-weight: normal;
}
.searchresultlocation {
    color: white;
    float: right;
    font-size: 13px;
    margin: 0 4px 0 0;
}
.linenumber {
    color: gray;
    float: left;
    font-size: 9px;
    padding: 3px 0 0;
    width: 40px;
}
.highlight {
    background-color: GreenYellow;
}
.skippedfileslink a:link, .searchresultlink a:visited {
    text-decoration: none;
}
